/*اعلان*
	المعنى
selector =	المُحدد، أي العنصر الذي تريد تطبيق التنسيق عليه (مثل p, h1, .class, #id)
property=	الخاصية التي تريد تغييرها (مثل color, font-size, background-color)
value=	القيمة التي تعطيها لتلك الخاصية (مثل red, 20px, center)
*/
selector {
 Property: value;
  PropertyTwo: value;
}

/* استهداف جميع الفقرات */  
/* 
p= الفقرة
color= لون 
font-size=حجم الخط 
px = القيم التي نريد تطبيقه
*/
p {
  color: rgb(91, 56, 231);
  font-size: 40px;
}
/* في CSS
 عندما تتكرر القواعد لنفس العنصر (p هنا)
  فإن القاعدة الأخيرة هي التي تُلغِي القيم السابقة لنفس الخاصية فقط.*/  
p {
  color: rgb(204, 33, 247);
}
/*الفقرة( .my-p) . =class*/
.my-p {
  color: red;
  font-size: 40px;
}
/* الفقرة  =(#my-p )      #= id*/
#my-p {
  color: rgb(227, 164, 36);
  font-size: 40px;
}
/*ح يكون هذا اللون*/
p {
  color: rgb(157, 198, 244);
}
._test {
  color: red;
}
/*مراجعة     
https://elzero.org/css-formatting-guide/
 طريقة كتابة CSS Code
 يتبع المعايير السليمة
 */
.user-test {
  color: rgb(244, 132, 132);
}
div { /* د لون الخلفية */
  background-color: rgb(244, 174, 174);
  /* RGB تعني:
R (Red) = كمية اللون الأحمر
G (Green) = كمية اللون الأخضر
B (Blue) = كمية اللون الأزرق
كل قيمة تكون عادة بين 0 و 255
(0 يعني لا يوجد من هذا اللون، و255 يعني أقصى درجة منه).
  هذه صيغة RGB مع قناة الشفافية (Alpha):
rgb(0 0 0 / 50%) تعني اللون الأسود بنسبة شفافية 50%.
القيمة الأخيرة بعد / هي مقدار الشفافية (0 = شفاف تمامًا، 100% = غير شفاف). */
  background-color: rgb(0 0 255 / 50%); 
/* طريقة الثالث و هي شائعة بين الناس
ذه صيغة اللون بالكود السداسي (Hex Code) — اللون هنا أيضًا أحمر نقي.
القيمة #FF0000 تعني:
FF = الأحمر بنسبة 100%
00 = الأخضر 0%
00 = الأزرق 0%
 في CSS، عندما تكرّر خاصية (مثل background-color) فإن الأخيرة هي التي تُطبَّق فعليًا.
أي أن اللون النهائي هنا سيكون أحمر (#FF0000). */
  background-color: #FF0000; 
/*هذا يضيف صورة خلفية للعنصر، مصدرها المسار:*/
  background-image: url("N لوجو.png");
/* هذا السطر يمنع تكرار الصورة — فتظهر مرّة واحدة فقط في الخلفية.
لكن يمكن تكرار الصورة باستخدام القيم التالية 
repeat= تكرار الصورة في كل الاتجاهين (العرض و الارتفاع
repeat-x=تكرار الصورة في الاتجاه اقفي فقط 
repeat-y= تكرار الصورة في الاتجاه العمودي فقط*/
  background-repeat: no-repeat;
  /* الصورة تبقى ثابتة عند نقل للصفحة*/
 background-attachment: fixed;
 /* موصغ الصورة في تسعة اتجهات
 left top= الصورة في الاتجاةالعلوية اليسري
 right top=الصورة في الاتجاه العلوي اليميني
 left bottom=الصورة في الاتجاه السفلي اليسري
 right bottom= لصورة في الاتجاه السفلي اليميني*
 center center= الصورة في الاتجاه الوسطى
 center  left= الصورة في الاتجاه الوسطى اليسري
 center right= الصورة في الاتجاه الوسطى اليميني 
 center bottom=الصورة في الاتجاه السفلي الوسطي
 center top= الصورة في الاتجاه العلوية الوسطي
اقدر احركها عن طريق px  و كمان النسبة المئوية
 */
  background-position: 50% 50%;
  /* هذا يحدد حجم الصورة
  auto= الصورة تاخذ حجمها الطبيعي
  contain= الصورة تاخذ حجم العنصر الذي تحتوي علية
  cover=الصورة تغطى العنصر الكامل*
قدر احركها عن طريق px  و كمان النسبة المئوية
  */
  background-size: auto;
  }
  div {
    /*هذا يحدد لون خلفية العنصر باللون الرمادي الفاتح (#DDD). */
  background-color: #DDD;
/*ترتيب القيم دائمًا يكون:
الأعلى → اليمين → الأسفل → اليسار (Top, Right, Bottom, Left)*/
  /* تعني أن جميع الجهات الأربع (أعلى، يمين، أسفل، يسار) فيها مسافة داخلية مقدارها 10px. */
  /* 10px 10px 10px 10px */
  /* padding: 10px; */

  /* الأعلى والأسفل = 10px
اليمين واليسار = 20px */
  /* 10px 20px 10px 20px */
  /* padding: 10px 20px; */

  /* هذه الصيغة (3 قيم) معناها:
الأعلى = 10px
اليمين واليسار = 20px
الأسفل = 15px*/
  /* 10px 20px 15px 20px */
  /* padding: 10px 20px 15px; */
/*مسافة داخلية من الأعلى = 10px*/
  padding-bottom: 10px;
  /*مسافة داخلية من الأسفل = 10px*/
  padding-top: 10px;
}
.-test {
  background-color: #DDD;
  padding: 10px;
  width: 70%;

  margin-left: auto;
  margin-right: auto;
  /*نص في العنصر  يظهر في الوسط
   margin-left: auto;
  margin-right: auto;
  نختصرها الى margin: auto;
    */
  margin: auto;
  
  /* حجم الحدود*/
  border-width: 10px;
  /*لون الحدود*/
  border-color: red green;
  /*  نوع الحدود*/
  border-style: solid;*/
  /*الحجم الحدو+ نوع الحدو+لون الحدو*/
   border: 10px solid  red;
}
.Test { 
  background-color: #DDD;
  /*الطول*/
  width: 300px;
  /*مسافة داخلية داخل العنصر.*/
  padding: 10px;
  /*إطار خارجي يُرسم حول العنصر من الخارج، لكنه لا يؤثر على أبعاده (الطول والعرض).
  اتجاه واحد
  */
  outline: 10px solid rgb(241, 115, 115);
    /*الحدود*/
  border: 10px solid rgb(113, 113, 206) ;
}
/* Block (عنصر بلوكي)
  - يأخذ العرض الكامل إذا لم نحدد له عرض (Width)
  - يبدأ في سطر جديد (يُحدث كسر سطر)
  - يحترم خصائص (Padding, Margin, Width, Height)
  */
  .Tst { background-color: #a0f1a4;
  position: 10PX;
  margin: 10px;
  width: 300PX;
  height: 30PX;
}
  /* Inline (عنصر داخل السطر)
  - لا يحترم العرض والارتفاع (Width, Height)
  - يحترم فقط الهوامش والمسافات الداخلية يمين ويسار (Padding & Margin Right/Left)
  - لا يبدأ في سطر جديد
  - يمكن أن يظهر بجانبه عناصر أخرى في نفس السطر
  */
span {
  background-color: #c24646;
   width: 300PX;/* ما تشتغل*/
   height: 30PX;/*ما تشتغل*/
  padding: 30PX;/* لا يحترمالعرض ولا ارتفاع*/
   margin: 20px;/*يحترم*/
}

  /*
   Inline-Block (عنصر داخل السطر بلوكي)
  - يسمح بوجود عناصر أخرى بجانبه في نفس السطر
  - يحترم خصائص (Padding, Margin, Width, Height)
*/
.Inline-Block {
  background-color: #4674c2;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 50px;
}
.first {
    background-color: red;
  margin: 10px 0;  
/*  display: none; اخاف العنصر */
visibility: hidden;/* يخفي العنصر بس مكان موجود*/
}

.frst {
  background-color: red;
  margin: 10px 0;

}